<%= provide(:title,"Cart") %>

<h1>List of Appointment</h1>
<p>Email: <%= @user.email%></p>
<div class="accordion accordion-flush mb-3" id="accordionFlushExample">
 <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        View your Address
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <% @address.each do |address| %>
          <ul class="list-group">
            <li class="list-group-item mb-2"><%= "#{address.street} #{address.barangay} #{address.city} #{address.province}" %> 
            <%= link_to "Edit",edit_address_path(address),class:"btn  btn-outline-primary"%>
            <%= link_to "Delete",address_delete_path(address),class:"btn btn-outline-danger",:onclick => "return confirm('Are you sure you want to delete this address?')"%>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  </div>

<%= link_to "Add Address",address_path,class:"btn btn-success mb-3" %> 


<div class="container">
  <div class="row px-5 pt-5">
    <% @carts.appointments.each do |cart| %>
    <div class="col-md-4 mt-4 mt-sm-0 card-container">
      <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
        <% if  %>
          <%= cl_image_tag(cart.service.image,:width=>500,height:500,:crop => "fill",class:"img-fluid d-block mx-auto") %>
        <% else %>
          <%= cl_image_tag(no_rpqcih,:width=>500,height:500,:crop => "fill",class:"img-fluid d-block mx-auto") %>
        <% end %>
         <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="card-body p-4 py-0 h-xs-440p">
           
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <%= cart.service.name %>
                </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <h3 class="text-start">Details</h3>
                        <p>Check In : <%= cart.check_in %></p>
                        <p>Check Out : <%= cart.check_out %></p>
                        <p>Status : <%= cart.status.capitalize %></p>
                        <p>Number of Pax : <%= cart.number_of_pax %></p>
                        
                        <%= link_to "Check Out",cart_new_path(cart.id),:class => "btn btn-success" %>
                        <%= link_to "Delete",cart_delete_path(cart.id),class:"btn btn-danger",:onclick => "return confirm('Are you sure you want to delete this address?')"%>
                </div>
                </div>
            </div>
            
            </div>
        </div>
        </div>
    </div>
    <% end %>
  </div>
</div>


