<% provide(:title,"View") %>

<h1><%= @book.name %></h1>
<div class="container">
     <% if  %>
        <%= cl_image_tag(@book.image,:width=>350,height:350,:crop => "fill",class:"img-fluid d-block mx-auto") %>
    <% else %>
        <%= cl_image_tag(no_rpqcih,:width=>500,height:500,:crop => "fill",class:"img-fluid d-block mx-auto") %>
    <% end %>
     <h3>Description:</h3>
     <div class="card-body p-4 py-0 h-xs-440p  mb-3">
        <div class="container">
            <%= @book.service_details %>
        </div>
    </div>
    <h4>Price: ₱<%= number_with_delimiter(@book.price) %></h4>
    

    <%# form %>
    <div class="container mb-5">
        <%= form_with model:@appointment,url:appoint_path,data:{turbo:false} do |f| %>
         <%= render partial:"layouts/error_message",locals:{objects:@appointment} %>


        <%= f.label :check_in %>
        <%= f.date_field :check_in,min: DateTime.now,max:1.year.from_now  %>
        <br><br>
        <%= f.label :check_out %>
        <%= f.date_field :check_out,min: DateTime.now,max:1.year.from_now  %>
        <br><br>
        <%= f.label :number_of_pax %>
        <%= f.number_field :number_of_pax %>
        <br><br>
        <%= f.label :timeslot %>
        <% selection=[] %>
        <% @slots.each do |slot| %>

            <% start_time = Time.parse(slot.start_time).strftime("%I:%M %p")%>
            <% end_time = Time.parse(slot.end_time).strftime("%I:%M %p") %>

            <% selection.push(["#{start_time} to #{end_time}",slot.id]) %>
        <% end %>
        <%= f.select :slot_id, options_for_select(selection), prompt: 'Select a time' %>
        <br>
        <br>
        <%= f.hidden_field :user_id,value:current_user.id %>
        <%= f.hidden_field :status,value:'pending' %>
        <%= f.hidden_field :service_id,value:@book.id %>
        <%= f.submit "Create Appointment" %>
    <% end %>
    </div>
    
    

</div>